
body{
    background-color: #f3f3f3;
    font-family: arial;
    font-size: 30;
}

/*---- Slider |start| ------ */

.slide_container {
    width:600px;
    height:37px;
    overflow:hidden;
    margin:0 auto;
    top: 25%;
    position: relative;
}

#slide_contents {
    -webkit-transition:all 1.0s ease-in-out;
}

#slide_contents div {
    padding:0;
    margin:0;
    float:left;
}
#slide_contents div span.word{
    display: inline-block;
    width: 150px;/*should 1/4th of slide_container width*/
    text-align: center;
}
#slide_contents div span.highlight{
    background-color:yellow;
}
/*---- Slider |end| ------ */
